.example-container {
  display: flex;
  //flex-direction: column;
   mat-sidenav {
     position: fixed;
     right: 0;
     top: 0;
     z-index: 5;
     width: 360px;
     height: 100%;
     background-color: #ffffff;
     box-shadow: 10px 10px 10px 10px rgba(0,0,0, .4);
  }
}

.example-toolbar {
  position: fixed;
  z-index: 10;
  background-color: transparent;
}
.slide-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px;
  background-color: rgba(0,0,0, .1);
  transition: 0.4s;
  &:hover {
    background-color: rgba(0,0,0, .2);
  }
}

// Menu styling
.menu-container {
  padding: 60px 40px 40px 40px;
  & h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .menu {
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 20px;
    & button {
      margin: 10px;
      margin-left: 0;
      border: none;
      background: transparent;
      cursor: pointer
    }
  }
}

